<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mastering Ember</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<script type="text/x-handlebars" >
    <h2>Ember Blog Example</h2>
    <p>{{#link-to 'blog'}}The Blog{{/link-to}}</p>

    {{outlet}}
</script>

<script type="text/x-handlebars" id="blog">
    <h3>The Blog Posts</h3>

    {{#each}}
    <h4>{{#link-to 'article' this}} {{title}} {{/link-to}}</h4>
    {{/each}}

</script>

<script type="text/x-handlebars" id="article">
    <h3>{{title}}</h3>
    <p>{{body}}</p>

    <div>
        <h4>Comments</h4>
        {{#each comments}}
          <p>{{text}}</p>
        {{/each}}
    </div>
</script>

  <script src="js/libs/jquery-1.10.2.js"></script>
  <script src="js/libs/handlebars-1.1.2.js"></script>
  <script src="js/libs/ember-1.7.0.js"></script>
  <script src="js/libs/ember-data.js"></script>
  <script src="js/blog.js"></script>
  <!-- to activate the test runner, add the "?test" query string parameter -->
  <script src="tests/runner.js"></script>
</body>
</html>
