<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mastering Ember</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <script type="text/x-handlebars">
    <h2>An Ember Demo Project</h2>
      <p>{{#link-to 'tennis'}}Tennis{{/link-to}} {{#link-to 'cats'}}Cats{{/link-to}}
          {{#link-to 'people'}}People{{/link-to}} {{#link-to 'computed'}}Computed{{/link-to}} 
          {{#link-to 'form'}}Form{{/link-to}}</p>
      
    {{outlet}}
  </script>

  <script type="text/x-handlebars" id="index">
  </script>

  <script type="text/x-handlebars" id="form">
      <form {{action 'handleSubmit' on='submit'}} >
      {{input value=userInput}}
      <button type="submit">Submit</button>
      </form>
  </script>

  <script type="text/x-handlebars" id="computed">
      <h3>Computed Route</h3>
      {{input value=first}}  x  {{input value=second}}  =  {{product}}
  </script>

  <script type="text/x-handlebars" id="people">
     <h3>People Route</h3>
     {{#each person in model}}
       <p>{{person.firstName}} {{person.lastName}} is {{person.age}} years old.</p>
     {{/each}}
  </script>

  <script type="text/x-handlebars" id="about">
      <h4>This is an ember demo project</h4>
      <small>by Instancetype</small>
  </script>


  <script type="text/x-handlebars" id="tennis">
      <h3>Tennis Route</h3>
      <h4>{{firstName}} {{lastName}}</h4>
      <p>Sport: {{stats.sport}}</p>
      <p>GS Titles : {{stats.titles}}</p>

  </script>


  <script type="text/x-handlebars" id="cats">
      <h3>Cats Route</h3>
      {{input value=name placeholder='add a cat' action='addCat'}}

      {{#each cat in model}}
      <p {{action 'showAlert' cat}}>{{cat}}</p>
      {{/each}}

  </script>

  <script src="js/libs/jquery-1.10.2.js"></script>
  <script src="js/libs/handlebars-1.1.2.js"></script>
  <script src="js/libs/ember-1.7.0.js"></script>
  <script src="js/libs/ember-data.js"></script>
  <script src="js/app.js"></script>
  <!-- to activate the test runner, add the "?test" query string parameter -->
  <script src="tests/runner.js"></script>
</body>
</html>
